.container{
     background-color: var(--bgSoft); 
      height: 400px; 
       padding: 20px;
       border-radius: 10px;  
}

.title{
 font-weight: 200;
 color: var(--textSaft);
  margin-bottom: 20px  ;
}